<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0" />
		<title>Image Manager</title>
		<script src="https://cdn.tailwindcss.com"></script>
		<style>
			@keyframes fade-in {
				from {
					opacity: 0;
				}
				to {
					opacity: 1;
				}
			}

			@keyframes fade-out {
				from {
					opacity: 1;
				}
				to {
					opacity: 0;
				}
			}

			::view-transition-old(root) {
				animation: 300ms fade-out;
			}

			::view-transition-new(root) {
				animation: 300ms fade-in;
			}

			::view-transition-old(img),
			::view-transition-new(img) {
				height: 100%;
				width: 100%;
				object-fit: contain;
			}
		</style>
	</head>
	<body class="min-h-screen flex flex-col bg-gray-100">
		<%- include('partials/header') %>

		<main class="flex-grow container mx-auto px-4 py-8">
			<% if (message) { %>
			<div
				class="p-3 mb-4 rounded text-white <%= message.type === 'error' ? 'bg-red-500' : 'bg-green-500' %>">
				<%= message.text %>
			</div>
			<% } %> <%- body %>
		</main>

		<%- include('partials/footer') %>
	</body>
</html>
